.payment {
  display: flex;
  justify-content: flex-end;
}

.checkout__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.checkout__imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout__adOne {
  max-width: 100%;
  height: 200px;
  opacity: 3;
  object-fit: contain;
}

.checkout__adTwo {
  max-width: 100%;
  object-fit: contain;
}
/* .checkout_container img {
} */
