.movie-container {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: white;
}

.movie-container .movie-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  /* background-color: violet; */
  background-color: rgb(5, 57, 226);
}
