.register-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 600px;
  font-family: "Play", sans-serif;
  background-image: url(https://images2.alphacoders.com/762/thumb-1920-762089.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-cnt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 400px;
}

.form {
  background-color: #f85b1a;
  border: 3px solid #f9ee54;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  opacity: 1;
  width: 375px;
  height: 625px;
  text-align: center;
  border-radius: 50%;
}

.form-label {
  text-align: center;
  color: #072083;
  font-size: 30px;
  font-weight: 900;
  margin-top: 9px;
}

.form-group {
  margin: 12px;
}

.form-group input {
  width: 250px;
  height: 30px;
  padding: 3px;
  border: 3px solid #f9ee54;
}

.register-container #account__button {
  padding: 8px 20px;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  background-color: #072083;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
}
